.container{
    display: flex;
   position: absolute;
   top:0;
   margin-left: 15rem;
}
.child{
    flex-direction: column;
}

p{
    background-color:aquamarine;
    border-radius: 2rem;
    display: flex;
    align-items: center;
justify-content: center;
padding: 1rem;


}