
<div class="container">
<div class="child">
    <p routerLink="name/{{selID}}"  >Name</p>
<p routerLink="company/{{selID}}" >Company</p>

</div>
<router-outlet></router-outlet>
</div>
<div>
    
</div>
