.container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-left: 4rem;
    
    
}

h2{
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    background-color: lightsalmon;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}