
<div *ngFor="let item of userlist   "[routerLink]="['/users',item.id]" >

<p (click)="showDetails(item)">{{item.name}}</p>
 <!-- <p  routerLink="{{item}}"></p>   -->
</div>
<div>
</div>
<router-outlet></router-outlet> 



<!-- <app-user-list [userdetails]="userdata"></app-user-list> -->