
.container{
  
  display: flex;
margin-left: 1rem;
 flex-direction: row;


    
}
.row{
  
 display: flex;

   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1rem;
   margin-top: 0;
   flex-direction: column;
 
}

a{
margin: 1rem;
background-color: #9599E2;
border: grey solid 0.05rem;
border-radius: 1rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.col{
    display: flex;
    flex-direction:column;
 
    background: linear-gradient(0deg, rgba(34,193,195,1) 50%, rgba(253,187,45,0.44348161627932425) 100%);    border-radius: 2rem;
}