<div class="container">

  <div class="col">
    <a routerLink='users'>Users</a>
    <a routerLink='products'>Products</a>
  </div>
  <div class="row">

    <router-outlet></router-outlet>
 
  </div>
 
</div>